{% extends 'base.html' %}
{% load static %}

{% block content %}

<p>Delete "{{pilihan_sampah}}"?</p>

<form action="{% url 'delete' pilihan_sampah.id %}" method="POST">
    {% csrf_token %}
    <a href="{% url 'home' %}">Cancel</a>
    <input type="submit"></input>
</form>

{% endblock %}