*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.contents{
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.contents p{
    margin-bottom: 10px;
}

.contents p:last-child{
    margin-bottom: 0px;
}

.content_kaos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.kaos{
    border: 1px solid black;
    padding: 5px;
}

a{
    text-decoration:  none;
}

.kaos p{
    color: black;
}

.kaos > a{
    position: relative;
    z-index: 20;
}

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
}

button{
    padding: 3px;
    position: relative;
}

.kaos button{
    margin-top: 10px;
}

button a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

input[type=submit]{
    padding: 3px;
}