*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

p{
    margin: 0;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none;
}

.nav_color{
    color: black !important;
}

.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.nav_logo{
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
}

.nav_list{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.nav_list a{
    text-decoration: none;
    margin: 0px 15px;
    font-weight: bold;
    color: white;
}

.section1{
    background-image: url('/static/images/section1.jpg');
    background-position: top center;
    background-size: cover;
    margin-top: -64px;
    height: 90vh;
    z-index: 0;
    position: relative;
    margin-bottom: 60px;
}

.section1-box{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: calc(90vh - 64px);
}

.section1-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 35%;
    padding-top: 64px;
}

.section1-contents > p:nth-child(1){
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffaa00;
}

.section1-contents > p:nth-child(2){
    text-align: right;
    font-size: 32px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.section1-look-button{
    display: inline-block;
    background-color: #ffaa00;
    font-size: 16px;
    font-weight: bold;
    color: rgb(21,21,21);
    padding: 2px 20px;
    border-radius: 4px;
    z-index: 1;
}

.section2-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.section2-title::after{
    content: "";
    width: 80px;
    height: 3px;
    border-radius: 20px;
    background-color: #a06517;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.section2-title h3{
    font-weight: bold;
    color: #a06517;
}

.section2{
    margin-bottom: 60px;
}

.section2-contents{
    display: flex;
    justify-content: space-between;
}

.section2-contents img{
    width: 100%;
}

.section2-image{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
}

.section2-product{
    width: 30%;
    text-align: center;
}

.section2-product h3{
    font-weight: bold;
    margin-bottom: 0px;
}

.product_details img{
    width: 500px;
}
