{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="contents">
    <div class="head">
        <h2>Kaos</h2>
        <a href="{% url 'addkaos' %}"><button>Add New</button></a>
    </div>
    <div class="content_kaos">
        {% for item in object_list %}
        <div class="kaos">
            <a href="{% url 'kaos' item.id %}">
                <p>Nama: {{item.nama}}</p>
                <p>Ukuran: {{item.ukuran}}</p>
                <p>Bahan: {{item.bahan}}</p>
                <p>Kategori: {{item.kategori}}</p>
                <p>Harga: {{item.harga}}</p>
                <p>Stok: {{item.stok}}</p>
                <button><a href="{% url 'updatekaos' item.id %}"></a>Update</button>
                <button><a href="{% url 'deletekaos' item.id %}"></a>Delete</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}