{% extends 'base.html' %}

{% block content %}

<div class="contents">
    <h2>Edit kaos {{object.id}}</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Update">
    </form>
</div>

{% endblock %}