*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-content{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('gym.png');
    background-size: cover;
    background-repeat: no-repeat;
    resize: none;
}

.center-content{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 30rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 244, 145);
    background-repeat: no-repeat;
    background-size: 20rem 10rem;
    resize: none;
    border-radius: 15px;
}

.create-acc{
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    font-style: bold;
    text-align: center;
}

.social-media{
    font-size: 2rem;
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
}

.social-media div{
    margin: 10px;
    transition: transform 0.2s ease;
}

.social-media div:hover{
    transform: scale(1.4);
    transform-style: preserve-3d;
}

.social-media div:nth-child(1){
    color: #202020;
    border-radius: 20px;
}

.social-media div:nth-child(2){
    color: #202020;
}

.social-media div:nth-child(3){
    color: #202020;
}

.social-media div:nth-child(4){
    color: #202020;
}

.user-regis{
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.user-regis-form{
    border-color: beige;
    border-radius: 20px;
    margin: 4px;
    padding: 4px;
    font-size: 20px;
    text-align: left;
}

.user-regis-form > p{
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

.user-regis-form > input{
    width: 30rem;
    height: 2rem;
    font-size: 16px;
}

#the-gender{
    width: 200px;
    height: 50px;
    font-size: medium;
}

.wrapper{ 
    width: 250px;
    height: 50px;
    margin: 3px;
}

.input-checkbox:focus-visible{
    margin: auto;
    font-size: 25px;
}

input[type='checkbox']{
    width: 1rem;
    height: 1rem;
    font-size: 18px;
    margin-right: 8px;
}

button[type='submit']{
    border-width: 0;
    background-color: #5c4c0a;
    color: white;
    padding: 3px;
    font-size: 1rem;
    border-radius: 20px;
    justify-self: unset;
    margin-top: 10px;
    margin-left: 4px;
    width: 30rem;
}
