{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Hello, world!</title>
</head>
<body>
    <div class="container">
        <nav>
            <p class="nav_logo {% if navbar_color == 'black' %}nav_color{% else %}{% endif %}">KOPIKU</p>
            <ul class="nav_list">
                <li><a class="{% if navbar_color == 'black' %}nav_color{% else %}{% endif %}" href="{% url 'home' %}">Home</a></li>
                <li><a class="{% if navbar_color == 'black' %}nav_color{% else %}{% endif %}" href="{% url 'about' %}">About</a></li>
                <li><a class="{% if navbar_color == 'black' %}nav_color{% else %}{% endif %}" href="">Contact Us</a></li>
                <li><a class="{% if navbar_color == 'black' %}nav_color{% else %}{% endif %}" href="{% url 'products' %}">Products</a></li>
            </ul>
        </nav>
    </div>

{% block content %} 
{% endblock %} 

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>